.container{
    border: solid black;
    margin: 30px;
    
}


.top-nav{
    background-color: aqua;
    display: flex;
    padding: 1px;
    }

.ul{
    display: flex;
    list-style: none;
    justify-content: left;
    
}



    


